---
import { SITE } from "src/config"
---

<nav class="sticky top-0 bg-gray-800 mb-6">
	<div class="max-w-6xl mx-auto px-8 py-5 flex justify-between items-center">
		<div>
			<a
				href="/"
				class="font-bold text-3xl text-gray-200 hover:text-white no-underline hover:underline decoration-teal-500"
			>
				Arshath
			</a>
		</div>

		<div class="flex space-x-4">
			<a
				href="/blog"
				class="font-medium text-lg text-gray-200 hover:bg-gray-700 px-3 py-1 rounded-md hover:text-white"
			>
				Blog
			</a>
			<a
				href="/projects"
				class="font-medium text-lg text-gray-200 hover:bg-gray-700 px-3 py-1 rounded-md hover:text-white"
			>
				Projects
			</a>
		</div>
	</div>
</nav>
