---
import Header from "component:Header"
import Main from "component:Main"

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Header {title} {description} />
	</head>
	<body class="font-sans antialiased min-h-screen">
		<Main>
			<slot />
		</Main>
	</body>
</html>
